@@include('reset.scss')
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;} 
//@include flexbox();
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
//@include rotate(20deg);

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700,800,900&display=swap');
$main_font: 'Roboto', sans-serif;


.wrapper{
	font-family: $main_font;
}



.home {
	padding: 45px 0 0 0 ;
	background-color: green;
	height: 700px;
	color: #fff;
	max-width: 1200px;
	margin: 0 auto;
}


//////////////////////////////////////////////////////////////////менюха//////////////////////////////////////////////////////

.menu {
	background-color: rgba(0, 0, 0, 0.5);
	 width: 100%;
	 position: fixed;
	z-index: 50;
	font-family: $main_font;
/*		&:before{////////////////////////// вот это вот ебучая плашка///////////////////////////////////////////////////////
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #5e5373;
			z-index: 2;
		}*/
}
.menu_body {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0px auto;
	@include flexbox();
	align-items: center;
	justify-content: space-between;
}
.menu__logo {
	z-index: 3;
	@include flexbox();
	align-items: center;
}
.menu__logo_img {
	width: 60px;
	flex: 0 0 auto;
	margin: 0 20px 0 0 ;
	img{
		max-width: 100%;
	}
}
.logo_title {
	font-size: 30px;
	font-weight: 700;
	a{
		color: #fff;
	}
	@media screen and (max-width: 992px){
		font-size: 25px;
	}
	@media screen and (max-width: 520px){
		font-size: 16px;
		margin: 0 0 5px 0;
	}
}
.header__burger {
	display: none;
}
@media screen and (max-width: 768px){
	.header__burger{
		display: block;
		position: relative;
		z-index: 3;
		width: 35px;
		height: 28px;
		&:before, &:after{
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 5px;
			left: 0;
			transition: 0.5s;
		}
			&:before{
				top: 0;
			}
			&:after{
				bottom: 0;
			}
	}

	.header__burger span{
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 5px;
		left: 0;
		top: 11px;
		transition: 1s;
	}

	.header__burger.active{
		&:before{
			top: 11.5px;
			@include rotate(45deg);
		}
		&:after{
			@include rotate(-45deg);
			bottom: 11.5px;
		}
	}
	.header__burger.active span {
		transform: scale(0);
	}
	.menu__nav.active{
		top: 0;
	}
	.menu__list {
		display: block;
			li{
		margin: 20px;
		border-right: 0px solid #ebebeb;
		}
	}
}

	
.menu__nav {
	@media screen and (max-width: 768px){
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		overflow: auto;
		transition: 0.5s;
		padding: 110px 10px 20px 10px;
	}	
	}

.menu__list {
	@include flexbox();
	align-items: center;
	font-size: 20px;
	margin: 10px 0 0 0;
	font-weight: 500;
	li{
		position: relative;
	}
	@media (max-width: 992px){
		font-size: 15px;
	}
}
.menu__link {
	color: #fff;
	margin: 0 10px;
	text-transform: uppercase;
	letter-spacing:1.1px;
	position: relative;
	@media screen and (max-width: 992px){
		margin: 0 10px;
	}
		&:after{
		content: '';
		position: absolute;
		left: 0;
		width: 0%;
		height: 2px;
		background-color: #fff;
		bottom: 0;
		transition: 0.5s;
	}
	&:hover{
		color: #fff;
		&:after{
			left: 0;
			width: 25%;
		}
	}


}

.menu__link.parent{
	margin: 0px 30px 0px 10px;
}

.menu__link.active {
	&:after{
		content: '';
		position: absolute;
		left: 0;
		width: 25%;
		height: 2px;
		background-color: #fff;
		bottom: 0;
	}
	&:hover{
		color: #fff;
	}
}
//////////////////////////////////////////////////////////////////СУБ - менюха//////////////////////////////////////////////////////



.menu__link {
	color: #fff;
}

.sub-menu__list {
	display: none;
	min-width: 300px;
	position: absolute;
	left: 0;
	top: 10px;
	padding: 20px 0px 0px 0px;// тут вот фишка с отступом 6 минута на видео
}
.sub-menu__list>li{
	background-color: rgba(0, 0, 0, 0.5);
}

.sub-menu__link {
	color: #fff;
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
		&:hover{
			background-color: rgba(0, 0, 0, 0.7);
		}
}
.sub-sub-menu__list {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 300px;
	padding: 0px 0px 0px 5px;
}
.sub-sub-menu__list>li{
	background-color: rgba(0, 0, 0, 0.5);
}
.sub-sub-menu__link {
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	width: 100%;
	&:hover{
			background-color: rgba(0, 0, 0, 0.7);
		}
}


.arrow {
	display: none;/*появлется только на мобильных устройствах*/
	position: absolute;
	right: 0;
	top: 2px;
	width: 0;
	height: 0;
	border-top: 10px solid pink;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.arrow.active{
	transform: rotate(-180deg);
}

.sub-menu__arrow.arrow {
	right: 10px;
	border-left: 10px solid pink;
	border-right: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.menu__arrow {}

body.mouse .menu__list>li:hover .sub-menu__list {
	display: block;
	transition: all 0.8s ease 0s;
}
body.mouse .sub-menu__list>li:hover .sub-sub-menu__list {
	display: block;
}

body.touch .sub-menu__list.open{
	display: block;
}
body.touch .sub-sub-menu__list.open{
	display: block;
}
body.touch .arrow {
	display: block;
}

@media (max-width:767px){
	
	.menu__list {
		display: block;
	}
	.menu__list>li{
		margin: 0px 0px 10px 0px;
	}
	.sub-menu__list{
		position: relative;
		left: 0;
		top: 0;
	}
	.sub-sub-menu__list{
		padding: 0px 5px;
		position: relative;
		left: 0;
		top: 0;
	}
		.arrow {
		top: 0px;
	}
	.sub-menu__arrow.arrow {
		right: 10px;
		top: 8px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid pink;
		border-right: 10px solid transparent;
	}
}
/////////////////////////////////////////////////////////////поиск по сайту///////////////////////////////////////////////////////////




.search_on_site {
	background-color: blue;
}
.search_on_site_body {
	max-width: 1200px;
	padding: 10px 10px ;
	margin: 0 auto;
}

.search_on_site_form {
	position: relative;/// тут интересное решение с кнопкой как бе влитой в интпут
  width: 300px;
  margin: 0 auto;
}
.search_on_site_input {
	  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  background-color: #F9F0DA;
  color: #9E9C9C;
}
.search_on_site_btn {
	 position: absolute; 
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
	  &:before{
	  	content: '';
	  	 position: absolute; 
	  	 top: 10px;
	  	 right: 10px;
	  	width: 30px;
	  	height: 30px;
	  	background: url('../img/icons/loupe.png');
	  	background-size: cover;
	  }
}



/////////////////////////////////////////////////////////////ненавязчивая анимация///////////////////////////////////////////////////////////



.decoration {
	background-color: red;
	padding: 10px;
}
.decoration_body {
	margin: 0 auto;
	max-width: 1200px;
}


.decoration_title{
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0 20px 0;
}
////////////////////////////////////////////увеличение картинки при наведении
.decoration_images {
	max-width: 100%;
	@include flexbox();
	padding: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.decoration_scale {
	width: 300px;
	overflow: hidden; /* Скрываем всё за контуром */
	img{
		max-width: 100%;
		transition: 1s; /* Время эффекта */
    	display: block; /* Убираем небольшой отступ снизу */
    	&:hover{
		transform: scale(1.1); /* Увеличиваем масштаб */
	}
	}
}
////////////////////////////////////////////выезжание покрытия над картинкой

.image_overlay_slide_two{
	width: 500px;
	position: relative;
    overflow: hidden;
	&:hover .img_overlay_two {
	  bottom: 0;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}

.img_overlay_two {
  position: absolute;
  bottom: -100%;
  right: 0;
  background-color: #008CBA;
   border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  width: 100%;
  height: 80%;
  transition: .5s ease;
}


.img_overlay_content_two {
	max-width: 400px;
	margin: 0 auto;
	background-color: red;
	padding: 100px 0 0 0;
	text-align: center;
}
.img_overlay_content_title_two {
	font-weight: 700;
	font-size: 25px;
}
.img_overlay_content_text_two {
	font-weight: 700;
	font-size: 15px;
}

////////////////////////////////////////////Анимация при прокрутке 

._anim_show{
	transform: translate(0px, 100px);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

._anim_show._active,
._active ._anim_show{
	transform: translate(0px, 0px);
	opacity: 1;
}

.decoration_title_anim {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	color: #fff;

	transform: translate(0px, 100px);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

.decoration_title_anim._active{
	transform: translate(0px, 0px);
	opacity: 1;
}
.decoration_text_anim {
	font-weight: 700;
	font-size: 15px;
	margin: 0 0 20px 0;
	color: #fff;

	transform: rotate(0.5turn);
	opacity: 0;
	transition: all 1.8s ease 0.7s;//тут появление с задежкой
}

.decoration_text_anim._active{
	transform: rotate(1turn);
	opacity: 1;
	
}


.dicoration_items_anim {
	max-width: 100%;
	@include flexbox();
	padding: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.dicoration_item_anim{
	flex: 0 1 300px;
}
.dicoration_item_anim_img{
	width: 300px;
	margin: 0 auto 20px;
	transform: scale(0);
	opacity: 0;
	transition: all 0.8s ease 0s;
	img{
		max-width: 100%;
    }
}

.dicoration_item_anim_img._active{
	transform:  scale(1);
	opacity: 1;
}

.dicoration_item_anim_text{
text-align: center;
color: #fff;
transform: translate(0px, 50%);
	opacity: 0;
	transition: all 0.3s ease 0.4s;
}

.dicoration_item_anim_text._active{
transform: translate(0px, 0px);
	opacity: 1;
	transition: all 0.8s ease 0.6s;
}

////////////////////////////////////////////Анимация иконок

.decoration_icons_body {
	background-color: green;
	max-width: 800px;
	margin: 0 auto;
	@include flexbox();
	justify-content: space-around;
	padding: 20px;
}
.decoration_icon {
	width: 30px;
	cursor: pointer;
	img{
		max-width: 100%;
	}
}


//тут используется анимация, сначала прописываем название время и тд, а потом что происходит пишем уже отдельно в @keyframes



.icon_arrow {
    	&:hover{
		 animation: bounceright .3s alternate ease infinite;//alternate Анимация меняет направление в каждом цикле, то есть в первом цикле она начинает с начального положения, доходит до конечного, а во втором цикле продолжает с конечного и доходит до начального и так далее
	}
}

@keyframes bounceright {
  from { transform: translateX(0); }
  to   { transform: translateX(3px); }
}


// лучше всего подойдет к телефона
.icon_tel {
		&:hover{
			animation: wiggle .05s alternate ease infinite;
	}
}

@keyframes wiggle {
  from { transform: rotate(0deg); }
  to   { transform: rotate(30deg); }
}
.icon_youtube {
	img{
		display: block;
			transition: 0.3s; /* Время эффекта */
    	&:hover{
		transform: scale(1.1); /* Увеличиваем масштаб */
	}
	}
	
}
.icon_search {
    	&:hover{
		animation: bulk 1s ease infinite;
	}
}
@keyframes bulk {
 0%{
transform: scale(1);
}
50%{
transform: scale(1.1);
}
100%{
transform: scale(1);
}
}

.icon_telegram {
	 transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
    	&:hover{
		transform: scale(1.2, 1.2);
		transition: all 0.35s cubic-bezier(0.000, 1.270, 0.460, 1.650);
	}
}


////////////////////////////////////////////анимация кнопок 
.decoration_btns{
	background-color: #fff;
	padding: 20px;
	@include flexbox();
	align-items: center;
	flex-wrap: wrap;
}

//// кнопка с помощью flex
	/*
	display: flex;
	width: 252px;
		height: 70px;
	align-items: center;
	justify-content: center;*/


.decoration_btn_one{
	flex: 0 1 200px;
	padding: 10px;
  position: relative;
  display: block;
  color: #ff7675;
 font-size: 24px;
  font-family: $main_font;
  text-decoration: none;
  margin: 20px;
  border: 2px solid #ff7675;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s all ease;
  z-index: 1;
  outline: none;
  text-align: center;
	   &:before{
	  background: #ff7675;
	  content: "";
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	  z-index: -1;
	  transition: all 0.6s ease;
	  outline: none;
	  width: 0%;
	  height: 100%;
		}
	 &:hover{
  	 color: #fff;
	  	 &:before{
			width: 100%;
	  	 }
	  }
}

.decoration_btn_two{
	flex: 0 1 200px;
	padding: 10px;
  position: relative;
  display: block;
  color: #ff7675;
 font-size: 24px;
  font-family: $main_font;
  text-decoration: none;
  margin: 20px;
  //border: 2px solid #ff7675;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s all ease;
  z-index: 1;
  outline: none;
  text-align: center;
	   &:before{
	  background: #ff7675;
	  content: "";
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	  z-index: -1;
	  transition: all 0.6s ease;
	  outline: none;
	 width: 100%;
  height: 0%;
	}
	 &:hover{
  	 color: #fff;
  	 &:before{
		  height: 100%;
  	 }
  }
}




.decoration_btn_tree {
	margin: 20px;
	font-size: 24px;
	display: inline-block;
    color: #07aa19;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    	&:after {
		    display: block;
		    content: "";
		    background-color: #07aa19;
		    height: 3px;
		    width: 0%;
		    left: 50%;
		    position: absolute;
		    transition: width .3s ease-in-out;
		    transform: translateX(-50%);
		}
		   &:hover,&:focus{
		   	&:after {
			width: 100%;
		}
		}

}


.decoration_btn_four{
		margin: 20px;
	font-size: 24px;
	display: inline-block;
    color: #07aa19;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    	&:after {
		    display: block;
		    content: "";
		    background-color: #07aa19;
		    height: 3px;
		    width: 0%;
		    position: absolute;
		    transition: width .3s ease-in-out;

		}

		   &:hover,&:focus{
		   	&:after {
			width: 100%;
		}
		}
}


.decoration_btn_five{
	margin: 20px;
	font-size: 24px;
	text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    border: 1px solid #777;
    position: relative;
	transition: 0.5s all ease;
	background-color: #fff;
    color: #000;
	&:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	}
   &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}
}

.black_background_for_btn{
	background-color: #000;
	width: 300px;
	height: 200px;
	padding: 20px;
}
.decoration_btn_six{
	font-size: 24px;
	text-transform: uppercase;
    padding: 10px 20px;
    //border: 1px solid red;
    background-color: pink;
    color: #777;
    border-radius: 20px;
    &:hover {
      background-color: red;
       color: #000;
	}
	 &:active {
    box-shadow: 0 0 30px 1px #fff;
	}
}

.decoration_btn_seven{
	flex: 0 1 200px;
	padding: 10px;
	color: #e74c3c;
	border: 2px solid #e74c3c;
  cursor: pointer;
   margin: 20px;
   text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
   &:hover {
   	color: #fff;
  outline: 0;
      box-shadow: 0 0 40px 40px #e74c3c inset;
	}
}
	
/////////////////////////////////////////////////////////////tabs///////////////////////////////////////////////////////////



.tabs {
	background-color: yellow;
}
.tabs_body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 10px;
}

.tabs_title{
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 20px 0;
	transition: 1s; /* Время эффекта */
		&:hover{
		transform: scale(1.1); /* Увеличиваем масштаб */
	}
}

.tabs_buttons {
	@include flexbox();
	justify-content: space-between;
}
.tabs_button {
	flex: 0 1 33.333%;
	background-color: yellowgreen;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	margin: 0 0 20px 0;
	cursor: pointer;
}

.tabs_button.active  {
	background-color: pink;
}


.tabs_item {
	display: none;
	background-color: pink;
	padding: 10px;
	font-weight: 700;
	font-size: 20px;
}


.tabs_item.active {
	display: block;
}

/////////////////////////////////////////////////////////////_popup///////////////////////////////////////////////////////////


.block_with_popup {
	padding: 30px 0;
	margin: 0 auto;
	max-width: 1200px;
	background-color: yellowgreen;
	font-family: $main_font;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}
.block_with_popup_title {}
.popup_button {
		width: 200px;
		margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color:  pink;
	color: #fff;
	font-size: 18px;
	font-family: $main_font;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7),0 1px 5px rgba(0, 0, 0, 0.7);
	position: relative;
	top: 0;
	transition: all 0.8s ease 0.2s;

}
.modal {
	 width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 1;
  padding: 150px 10px 0 10px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden; 
}
.modal_body {
	position: relative;
	padding: 30px 5px 30px 5px;
	background-color: green;
	max-width: 500px;
	margin: 0 auto;
	  opacity: 0;
}

.modal.active {
  opacity: 1;
  visibility: visible; }

.modal_body.active {
  opacity: 1; }

.cross{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	&:before, &:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: 0.5s;
	}
		&:before{
			top: 11.5px;
		@include rotate(45deg);

		}
		&:after{
			top: 11.5px;
		@include rotate(-45deg);
		}
}


.modal_body_title {
	margin: 0 0 20px 0;
}
.modal_body_img {
	margin: 0 auto;
	max-width: 200px;
		img{
			max-width: 100%;
		}
}

/////////////////////////////////////////////////////////////_fomr///////////////////////////////////////////////////////////

.form {
	background-color: pink;
}
.form_body {
	margin: 0 auto;
	max-width: 1200px;
	padding: 20px 10px;
}

.form_item {
	margin-bottom: 20px;
}
.form_lable {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}

.form_input {
	height: 50px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid blue;
	width: 100%;
	font-size: 17px;
	transition: all 0.5s ease 0s;
}

textarea.form_input {
	min-height: 120px;
	resize: vertical;
	padding: 10px;
}


.form_input:focus{
	box-shadow: 0 0 15px #fff;
}


.form_input._error{
	box-shadow: 0 0 15px red;
} 
.form_input._error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
}
.form_input._error::-moz-placeholder { /* Firefox 19+ */
  color: red;
}
.form_input._error:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
.form_input._error:-moz-placeholder { /* Firefox 18- */
  color: red;
} 





.message{
	display: none;
	margin: 30px 0 30px 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

.message._success{
	display: block;
	color: yellowgreen;
	text-shadow: 1px 0 10px yellowgreen;
}


.message._false{
	display: block;
	color: red;
	text-shadow: 1px 0 10px red;
}


.form_button {
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color:  green;
	color: #fff;
	font-size: 18px;
	font-family: $main_font;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7),0 1px 5px rgba(0, 0, 0, 0.7);
	position: relative;
	top: 0;
	transition: background-color 0.5s ease 0s;
}
.form_button:hover{
	background-color: yellowgreen;
}

.form_button:active{
	top: 3px;
	box-shadow: 0 2px 0  #000;
}

/////////////////////////////////////////////////////////////_checkbox///////////////////////////////////////////////////////////

.checkbox_input{
	display: none;
}


.checkbox_label{
	display: block;
	margin: 0 10px 0 0;
	 height: 22px;
    width: 22px;
	border: 2px solid #999;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	&:hover{
	box-shadow: 0 0 15px #fff;
}
}




.checkbox_label::after{
	transition: transform 1s ease 0s;
	content: "";
	position: absolute;
	border-radius: 50%;
	top:3.5px;
	left: 3px;
	width: 12px;
	height: 12px;
	background-color: #7a956b;
	transform: scale(0);
}

.checkbox_input:checked +.checkbox_label::after{
	transform: scale(1);
}

.checkbox_input._error +.checkbox_label{
	border: 2px solid red;
	box-shadow: 0 0 15px red;
}




/////////////////////////////////////////////////////////////accordion///////////////////////////////////////////////////////////


.accord{
	max-width: 1200px;
	margin: 0 auto;
	
}



.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  	&:hover {
      background-color: #ccc;
	}
}

.accordion.active{
  background-color: #ccc;
}

.panel {
  padding: 0 10px;
  background-color: white;
    max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  background-color: yellowgreen;
}

.panel_body{
	padding: 10px 0;
}

/////////////////////////////////////////////////////////////swiper///////////////////////////////////////////////////////////
.swiper{
background-color: #000;
}
.swiper_body{
	max-width: 1200px;
	margin: 0 auto;
}
.swiper-container {
        max-width: 100%;
      }

      .swiper-slide {
      	background-color: yellowgreen;
	        img {
	        max-width: 100%;
	      }
      }

      